---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">

      <header>
  {% if page.title %}
    <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
  {% endif %}

  {% if page.venue or page.date %}
    <p class="page__meta" style="font-size: 1rem; color: #666;">
      {% if page.venue %}
        <strong>Issued by:</strong> {{ page.venue }}
      {% endif %}
      {% if page.venue and page.date %} &nbsp; | &nbsp; {% endif %}
      {% if page.date %}
        <strong>Year:</strong> {{ page.date | date: "%Y" }}
      {% endif %}
    </p>
  {% endif %}
</header>

<section class="page__content" itemprop="text">
  {{ content }}
</section>

    </div>
  </article>
</div>
