---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">

      <header>
        {% if page.title %}
          <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
        {% endif %}
        {% if page.date %}
          <p class="page__meta"><strong>Date:</strong> {{ page.date | date: "%Y-%m-%d" }}</p>
        {% endif %}
      </header>

      <section class="page__content" itemprop="text">
        {{ content }}
      </section>

    </div>
  </article>
</div>
